.CodeMirror {
    border: 1px solid #eee;
    height: auto !important;
    width: 100%;
    z-index: 0;
}
.CodeMirror .CodeMirror-scroll {
    min-height: 150px;
}

/** Fix width when dragging table row. **/
body#page-blocks-dash-data-source .ui-sortable-helper {
    display: table;
}

body#page-blocks-dash-data-source .drag-handle {
    cursor: pointer;
}

.filter-form .filter-form-control {
    width: auto;
    display: inline;
    margin-right: 0.25rem;
}

.dash-preferences-form .col-form-label {
    font-weight: bold;
}
.dash-preferences-form .fitem.checkboxgroup1 {
    width: 100%;
    justify-content: left;
}

.dash-table th {
    white-space: nowrap;
}

/** Block widths **/
.dash-block-width-100 {
    width: 100%;
}
.dash-block-width-50 {
    width: calc(50% - 1rem);
}
.dash-block-width-33 {
    width: calc(33.33% - 1rem);
}
.dash-block-width-66 {
    width: calc(66.66% - 1rem);
}
.dash-block-width-25 {
    width: calc(25% - 1rem);
}
.dash-block-width-20 {
    width: calc(20% - 1rem);
}
.dash-block-width-16 {
    width: calc(16.66% - 1rem);
}

@media (max-width: 768px) {
    .block.block_dash {
        width: 100%;
    }
}