.CodeMirror {
    border: 1px solid #eee;
    height: auto !important;
    width: 100%;
    z-index: 0;
}
.CodeMirror .CodeMirror-scroll {
    min-height: 150px;
}

/** Fix width when dragging table row. **/
body#page-blocks-dash-template .ui-sortable-helper {
    display: table;
}

body#page-blocks-dash-template .drag-handle {
    cursor: pointer;
}

.filter-form .filter-form-control {
    width: auto;
    display: inline;
    margin-right: 0.25rem;
}

.info-dash-preferences-form .col-form-label {
    font-weight: bold;
}