.path-local-dash .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    width: 100%;
    z-index: 0;
}
.path-local-dash .CodeMirror .CodeMirror-scroll {
    min-height: 150px;
}

/** Fix width when dragging table row. **/
body#page-blocks-dash-data-source .ui-sortable-helper {
    display: table;
}

.dash-preferences-form .drag-handle {
    cursor: pointer;
}

.block_dash .filter-form .filter-form-control {
    width: auto;
    display: inline;
    margin-right: 0.25rem;
}

.dash-preferences-form .col-form-label {
    font-weight: bold;
}
.dash-preferences-form .fitem.checkboxgroup1 {
    width: 100%;
    justify-content: left;
}
/** Fix fields for totara **/
.dash-preferences-form #fgroup_id_available_fields .felement > span {
    display: block;
}

.block_dash .dash-table th {
    white-space: nowrap;
}

/** Position background image nicely **/
.block_dash {
    background-size: cover;
}

/** Add room between select filters. **/
.block_dash .select2.select2-container {
    margin-right: 10px;
}

/** Block widths **/
.block_dash.dash-block-width-100 {
    width: 100%;
}
.block_dash.dash-block-width-50 {
    width: calc(50% - 1rem);
}
.block_dash.dash-block-width-33 {
    width: calc(33.33% - 1rem);
}
.block_dash.dash-block-width-66 {
    width: calc(66.66% - 1rem);
}
.block_dash.dash-block-width-25 {
    width: calc(25% - 1rem);
}
.block_dash.dash-block-width-20 {
    width: calc(20% - 1rem);
}
.block_dash.dash-block-width-16 {
    width: calc(16.66% - 1rem);
}

@media (max-width: 768px) {
    .block.block_dash {
        width: 100%;
    }
}

.block_dash .icons-no-margin .icon {
    margin: 0;
}

.block_dash .dash-sort {
    cursor: pointer;
}

.block_dash .bootstrap3 .row.flex,
.block_dash .bootstrap3 .col-sm-3.flex {
    display: flex;
}

#fgroup_id_available_fields .form-check-inline.fitem {
    width: 100%;
    justify-content: left;
}

/* Select2 styles */

body .select2-container {
    display: inline-block;
}

.dash-block-content img.img-responsive {
    max-height: 120px;
    object-fit: cover;
}