<div id="info-dash-{{block_instance_id}}" class="info-dash-container">
    {{#editing}}
        <button class="info-dash-edit-preferences btn btn-sm btn-primary mb-2" style="width: 100%;">{{#str}}preferences{{/str}}</button>
    {{/editing}}
    <div class="info-dash-block-content">
        {{{preloaded}}}
    </div>
</div>

{{#js}}
    require(["block_dash/dash_instance"], function(DashInstance) {
        new DashInstance("#info-dash-{{block_instance_id}}", {{block_instance_id}}, {{block_context_id}});
    });
{{/js}}