<div id="dash-{{block_instance_id}}" class="dash-container">
    {{#editing}}
        <button class="dash-edit-preferences btn btn-sm btn-primary mb-2" style="width: 100%;">{{#str}}preferences{{/str}}</button>
    {{/editing}}
    <div class="dash-block-content">
        {{{preloaded}}}
    </div>
</div>

{{#js}}
    require(["block_dash/dash_instance"], function(DashInstance) {
        new DashInstance("#dash-{{block_instance_id}}", {{block_instance_id}}, {{block_context_id}}, {{editing}});
    });
{{/js}}