<style>
    #inst{{block.instance.id}} {
        {{blockcss}}
    }

    #inst{{block.instance.id}} .dash-header-content,
    #inst{{block.instance.id}} .dash-footer-content,
    #inst{{block.instance.id}} #instance-{{block.instance.id}}-header,
    #inst{{block.instance.id}} .pagination-summary {
        {{#headerfootercolor}}
            color: {{headerfootercolor}}
        {{/headerfootercolor}}
    }
</style>