<p>
    <select id="add-new-field-definition" class="form-control">
        <option>{{#str}}addnewfield, block_dash{{/str}}...</option>
        {{#all_field_definitions}}
            <option value="{{get_name}}">{{get_title}}</option>
        {{/all_field_definitions}}
    </select>
</p>

<table id="field_edits" class="table table-striped">
    <tbody>
        {{#field_definitions}}
            {{>block_dash/field_edit_row}}
        {{/field_definitions}}
    </tbody>
</table>
