<select name="{{name}}" class="form-control filter-form-control" {{#multiple}}multiple{{/multiple}}>
    {{#options}}
        <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
    {{/options}}
</select>