<select name="{{name}}" class="form-control filter-form-control select2" {{#multiple}}multiple{{/multiple}} style="min-width: 300px;">
    {{#options}}
        <option value="{{value}}" {{#selected}}selected{{/selected}}>{{label}}</option>
    {{/options}}
</select>