{{< block_dash/layout }}
    {{$body}}
        {{^data.rows}}
            <p class="text-muted">{{#str}}noresults{{/str}}</p>
        {{/data.rows}}
        <div class="table-responsive">
            <table class="table dash-table">
                <thead>
                    <tr>
                        {{#data.first_child.data}}
                            {{#is_visible}}
                                <th class="dash-sort" data-sort="{{get_name}}">{{get_label}}</th>
                            {{/is_visible}}
                        {{/data.first_child.data}}
                    </tr>
                </thead>
                <tbody>
                    {{#data.rows}}
                        <tr {{#is_active}}class="table-active"{{/is_active}}>
                            {{#data}}
                                {{#is_visible}}
                                    <td>{{{get_value}}}</td>
                                {{/is_visible}}
                            {{/data}}
                        </tr>
                    {{/data.rows}}
                </tbody>
            </table>
        </div>
    {{/body}}
{{/ block_dash/layout }}
