{{<block_dash/layout }}
    {{$header}}
        {{! Leave header blank. }}
    {{/header}}

    {{$body}}
        <p>Edit this block's settings to finish configuration.</p>
    {{/body}}
{{/ block_dash/layout }}
