<div>
    {{$header}}
        <div class="info-dash-filters">
            {{>block_dash/filter_form}}
        </div>
    {{/header}}

    {{$body}}

    {{/body}}

    {{$footer}}
        {{{paginator}}}
    {{/footer}}
</div>