<div>
    {{$header}}
        {{#supports_filtering}}
            <div class="info-dash-filters mb-2">
                {{>block_dash/filter_form}}
            </div>
        {{/supports_filtering}}
        {{{error}}}
    {{/header}}

    {{$body}}

    {{/body}}

    {{$footer}}
        {{#supports_pagination}}
            {{{paginator}}}
        {{/supports_pagination}}
    {{/footer}}
</div>