{{< block_dash/layout }}
    {{$header}}
        <h1>This is an example template.</h1>
        <p>This is a Mustache template. Read more on it <a href="https://docs.moodle.org/dev/Templates">here</a></p>
    {{/header}}

    {{$body}}
        <div class="table-responsive">
            <table class="table">
                {{#data.rows}}
                    <tr>
                        {{#data}}
                            <td>{{get_value}}</td>
                        {{/data}}
                    </tr>
                {{/data.rows}}
            </table>
        </div>
    {{/body}}
{{/ block_dash/layout }}
