{{< block_dash/layout }}
    {{$body}}
        {{#data.first_child}}
            {{#first_data}}
                <h3 class="text-center">{{{get_value}}} <small style="font-size:0.5em">{{preferences.stat_field_label}}</small></h3>
            {{/first_data}}
        {{/data.first_child}}
    {{/body}}
{{/ block_dash/layout }}
