{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_dash/layout_grid

    Example context (json):
    {
        "sitefullname": "Moodle - 311",
        "courseurl": "https://localhost/moodle/course/view.php?id=2"
    }
}}
{{< block_dash/layout }}
    {{$body}}
        {{^data.rows}}
            {{#noresult}}{{{noresult}}}{{/noresult}}
        {{/data.rows}}
        <div class="table-responsive{{#preferences.hidetable}} d-none{{/preferences.hidetable}} table-layout">
            <table class="table dash-table{{#preferences.showdetailsarea}} dash-details-enabled{{/preferences.showdetailsarea}}" id="dash-grid-{{uniqueid}}">
                <thead>
                    <tr>
                        {{#data.first_child.data}}
                            {{#is_visible}}
                                <th class="dash-sort" data-sort="{{get_name}}">{{get_label}}</th>
                            {{/is_visible}}
                        {{/data.first_child.data}}
                        {{^data.first_child.data}}
                            <th></th>
                        {{/data.first_child.data}}
                    </tr>
                </thead>
                <tbody>
                    {{#data.rows}}
                        <tr class="card-table {{#is_active}}table-active{{/is_active}}"
                            data-detailheader="{{detailheader}}" data-detailheading="{{detailheading}}"
                            data-detailbody="{{detailbody}}" data-detailbody2="{{detailbody2}}"
                            data-detailbody3="{{detailbody3}}" data-detailfooter="{{detailfooter}}"
                            data-detailfooterright="{{detailfooterright}}"
                            data-customcontent="{{customcontent}}">
                            {{#data}}
                                {{#is_visible}}
                                    <td>{{{get_value}}}</td>
                                {{/is_visible}}
                            {{/data}}
                        </tr>
                    {{/data.rows}}
                </tbody>
            </table>
        </div>
        {{#preferences.showdetailsarea}}
            {{#js}}
                require(['block_dash/details_area'], function(DetailsArea) {
                    DetailsArea.init('#dash-grid-{{uniqueid}}', {
                        detailsBgColor: '{{preferences.details_bg_color}}',
                        detailsTextColor: '{{preferences.details_text_color}}',
                        rowSelector: 'tbody tr[data-detailheader]',
                        mode: '{{preferences.details_area_mode}}',
                        detailsAreaSize: '{{preferences.details_area_size}}',
                        customContentHeight: '{{preferences.details_custom_content_height}}'
                    });
                });
            {{/js}}
        {{/preferences.showdetailsarea}}
    {{/body}}
{{/ block_dash/layout }}
