{{< block_dash/layout }}
    {{$body}}
        {{^data.rows}}
            <p class="text-muted">{{#str}}noresults{{/str}}</p>
        {{/data.rows}}
        <div class="table-responsive">
            <table class="table dash-table">
                <thead>
                    <tr>
                        {{#data.first_child.data}}
                            <th>{{get_label}}</th>
                        {{/data.first_child.data}}
                    </tr>
                </thead>
                <tbody>
                    {{#data.rows}}
                        <tr>
                            {{#data}}
                                <td>{{{get_value}}}</td>
                            {{/data}}
                        </tr>
                    {{/data.rows}}
                </tbody>
            </table>
        </div>
    {{/body}}
{{/ block_dash/layout }}
