{{#show_page_summary}}
    <div>{{summary}}</div>
{{/show_page_summary}}

<nav>
    <ul class="pagination">
        {{#pages}}
            <li class="page-item {{#active}}active{{/active}} {{#disabled}}disabled{{/disabled}}"><a class="page-link" data-page="{{page}}" {{^disabled}}href="#"{{/disabled}}>{{label}}</a></li>
        {{/pages}}
    </ul>
</nav>
